<div class="container mt-4 p-4 border rounded shadow-sm bg-light">
  <h2 class="mb-4">{{ title }}</h2>

  <form [formGroup]="taskForm" (ngSubmit)="addTask()">
    <div class="form-group mb-3">
      <label for="description" class="form-label">Task description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        formControlName="description"
        placeholder="Enter a task"
      />

      <div
        class="text-danger mt-1"
        *ngIf="
          taskForm.get('description')?.touched &&
          taskForm.get('description')?.invalid
        "
      >
        <div *ngIf="taskForm.get('description')?.errors?.['required']">
          You must type in something
        </div>
        <div *ngIf="taskForm.get('description')?.errors?.['minlength']">
          At least type in 3 characters
        </div>
        <div *ngIf="taskForm.get('description')?.errors?.['notOnlySpaces']">
          It cannot contain only spaces
        </div>
      </div>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="taskForm.invalid">
      Add <i class="bi bi-plus"></i>
    </button>
  </form>

  <!-- Botones para navegación -->
  <div class="mt-4 d-flex gap-2">
    <button class="btn btn-outline-primary" routerLink="/">Home</button>
    <button class="btn btn-outline-secondary" routerLink="/tasks-list">
      Tasks List
    </button>
  </div>
  <!--</div>-->
</div>
